@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos globales opcionales que no son directamente clases Tailwind */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}
